# 共有するファイル・ディレクトリ以外を除外
# 共有対象: figディレクトリ, texファイル, latexmkrc, .sty, Title.pdf, report.pdf

# まず全て除外
*

# 除外解除（共有対象のみ）
!report_template/fig/
!report_template/*.tex
!report_template/latexmkrc
!report_template/*.sty
!report_template/Title.pdf
!report_template/report.pdf

# .gitignore自身は共有

# LaTeX一時ファイルをgitで共有しないようにする設定
report_template/*.aux
report_template/*.dvi
report_template/*.fdb_latexmk
report_template/*.fls
report_template/*.log
report_template/*.out
report_template/*.synctex.gz

# Python仮想環境をgit管理対象外にする
program/venv/
